body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 20 0 0 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 12rem 1rem !important;
    min-height: 100vh;
    background-color: #222;
}


h2 {
    color: #6e90e8; /* Text color */
    font-size: 2em!important;
}

h1 {
    color: white;
    font-size: 6em!important;
}

p {
    color: #fff;
}

.navbar{
    padding: 20px!important;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 5rem;
}

.blue-text {
    color: #6e90e8;
}